<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" href="https://iili.io/d8t0FpI.md.jpg" type="image/png">

    <link rel="stylesheet" href="static\css\patient_dashboard.css">
</head>
<body>
    <div class="container">
        <!-- aside section start -->
        <aside>
             <div class="top">
                <!-- logo -->
                <div class="logo">
                    <img src="https://iili.io/d8uRziv.png" alt="Logo">
                    <h2>SC<span class="danger">HUB</span></h2>
                </div>
                <!-- close button -->
                <div class="close">
                    <span class="material-symbols-outlined">
                        close
                        </span>
                </div>
            </div>
             <!-- end top -->
              <!-- side bar start -->
            <div class="sidebar">
                <a href="#" class="active">
                    <Span class="material-symbols-outlined">grid_view</Span>
                    <h3>Overview</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">medication</Span>
                    <h3>Doctors</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">history</Span>
                    <h3>History</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">insert_chart</Span>
                    <h3>Analysis</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">chat</Span>
                    <h3>Feedback</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">psychology</Span>
                    <h3>AI Therapist</h3>
                </a>
                <a href="#">
                    <Span class="material-symbols-outlined">logout</Span>
                    <h3>Logout</h3>
                </a>
            </div>   
        </aside>
        <!-- main section start -->
         <main>

         </main>
         <!-- right section start -->
          <div class="right">
            
          </div>
    </div>
</body>
</html>