<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@600&display=swap" rel="stylesheet">
    
    <link rel="icon" href="https://iili.io/d8t0FpI.md.jpg" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    
    <nav>
        <div class="logo-container">
            <img src="https://iili.io/d8uRziv.png" alt="Logo">
            <span class="clinic-name">Speech Therapy Clinic</span>
        </div>
        <ul>
            <li><a href="#key-features">Key Features</a></li>
            <li><a href="#how-it-works">How it Works</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li> 
        </ul>
    </nav>

    <main>
        <div class="content-container">
            <div class="content">
                <h1>Welcome to Speech Therapy System</h1>
                <p>A streamlined and efficient way to manage therapy plans, cases, and progress reports.</p>
                <p>Our digital platform offers personalized therapy to meet your unique needs.</p>
                <a href="#appointment" class="btn-book-appointment">Book an Appointment</a>
            </div>

            <div class="image-container">
                <img src="https://iili.io/d8MnFWB.md.webp" alt="Website Preview">
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Digital Speech Therapy System.</p>
    </footer>

</body>
</html>
